{{#each smallProjects}}
  <div data-aos="fade-right" class="porfolio-box">
    <figure>
      <a href="{{repoUrl}}"><img
          src="{{imageUrl}}"
          alt="Calculator image"
        /></a>
      <div class="porfolio-description">
        <h3>{{title}}</h3>
        <p class="porfolio-description-text"></p>
      </div>
    </figure>
  </div>

{{/each}}