<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/Assets/styles.css" />
  </head>
  <body>
    <main>
        <section class="block container">
            <div class="section-header">
              <h2 class="header">A little about me</h2>
            </div>
            <div id="about-me" class="about-me">
              <div class="about-me-Container">
                <div class="about-me-photo"><img src="/Assets/Images/photo-of-me.png" alt="" /></div>
                <div class="text">
                  
                    I am a chemistry masters graduate, with experience in tutoring, customer service and hospitality,
                    who is passionate about Web Development. Tutoring for over 4 years has allowed me to become clear
                    and efficient when explaining complex ideas by utilising metaphors and diagrams when teaching small
                    groups of students either in person or online, which has prove very effective. Additionally,
                    working in hospitality has given me the opportunity to improve my customer engagement and interact
                    in a more friendly conversational in turn allowing me to get to know each customer while remaining
                    professional in a demanding environment.
      
                
                </div>
              </div>
      
              <div class="about-me-technologies">
                <h3>Technologies</h3>
                <div class="logo-group">
                  <div class="logo-container">
                    <img class="logo-img" src="/Assets/images/javascript.png" alt="" />
                  </div>
                  <div class="logo-container">
                    <img class="logo-img" src="/Assets/images/html5-logo.png" alt="" />
                  </div>
                  <div class="logo-container">
                    <img class="logo-img" src="/Assets/images/css3.jpg" alt="" />
                  </div>
                </div>
              </div>
            </div>
          </section>
      
    </main>
  </body>
</html>
