<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/Assets/styles.css" />
  </head>
  <body>
    <main>
      <section id="contact-me" class="contact-me">
        <div class="contact-me-action">
          <h3>Ready to hire me?</h3>
            <a href="#" class="action-button contact-me-action-button">Contact me now</a>
        </div>
      </section>
    </main>
  </body>
</html>
