<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/Assets/styles.css" />
  </head>
  <body>
    <main>
        <section class="block container">
            <div class="section-header smaller-padding">
              <h2 class="header">Porfolio</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tenetur obcaecati delectus repellendus deleniti
                  consectetur aperiam!</p>
            </div>

            <div id="porfolio" class="porfolio">
              <div class="porfolio-box larger-box">
                <figure>
                  <a href="https://frsargua.github.io/WeekOne_FS/">
                    <img src="/Assets/images/projectOne.png" alt="">
                  </a>

                  <div class="porfolio-description">
                    <h3>Refactor project</h3>
                    <p class="porfolio-description-text">I improved the semantics of a website's HTML and removed DRY
                      properties from its CSS file.</p>
                  </div>
                </figure>
              </div>

              <div class="porfolio-box">
                <figure>
                  <img src="./Assets/images/calculator.jpg" alt="">
                  <div class="porfolio-description">
                    <h3>Porfolio box</h3>
                    <p class="porfolio-description-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo, et.
                    </p>
                  </div>
                </figure>
              </div>

              <div class="porfolio-box">
                <figure>
                  <img src="./Assets/images/calculator.jpg" alt="">
                  <div class="porfolio-description">
                    <h3>Porfolio box</h3>
                    <p class="porfolio-description-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo, et.
                    </p>
                  </div>
                </figure>
              </div>
              
              <div class="porfolio-box">
                <figure>
                  <img src="./Assets/images/calculator.jpg" alt="">
                  <div class="porfolio-description">
                    <h3>Porfolio box</h3>
                    <p class="porfolio-description-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo, et.
                    </p>
                  </div>
                </figure>
              </div>
            </div>
      
          </section>
      
    </main>
  </body>
</html>
